<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <div class="footer__top">
        <div class="footer__top-item">
          <h6 class="footer__top-title">Phone</h6>
          <a class="footer__top-info" href="tel:+3250312832">+32 50 31 28 32</a>
        </div>
        <div class="footer__top-item">
          <h6 class="footer__top-title">Address</h6>
          <p class="footer__top-info">
            491 Merlin Crest Suite 963
          </p>
        </div>
      </div>
      <div class="footer__middle">
        <div class="footer__middle-item">
          <h6 class="footer__middle-title">Services</h6>
          <nav class="footer__middle-list">
            <ul class="footer__middle-list_items">
              <li class="footer__middle-list_item">
                <a href="" class="footer__middle-link">Strategy Design</a>
              </li>
              <li class="footer__middle-list_item">
                <a href="" class="footer__middle-link">Product Design</a>
              </li>
              <li class="footer__middle-list_item">
                <a href="" class="footer__middle-link">Content Strategy</a>
              </li>
              <li class="footer__middle-list_item">
                <a href="" class="footer__middle-link">Brand Strategy</a>
              </li>
              <li class="footer__middle-list_item">
                <a href="" class="footer__middle-link">Development </a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="footer__middle-item">
          <h6 class="footer__middle-title">Help And Advice</h6>
          <nav class="footer__middle-list">
            <ul class="footer__middle-list_items">
              <li class="footer__middle-list_item">
                <a href="" class="footer__middle-link">How it works</a>
              </li>
              <li class="footer__middle-list_item">
                <a href="" class="footer__middle-link">Contact Support</a>
              </li>
              <li class="footer__middle-list_item">
                <a href="" class="footer__middle-link">Privacy Policy</a>
              </li>
              <li class="footer__middle-list_item">
                <a href="" class="footer__middle-link">FAQ</a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="footer__middle-item">
          <h6 class="footer__middle-title">Company</h6>
          <nav class="footer__middle-list">
            <ul class="footer__middle-list_items">
              <li class="footer__middle-list_item">
                <a href="" class="footer__middle-link">About</a>
              </li>
              <li class="footer__middle-list_item">
                <a href="" class="footer__middle-link">Blog</a>
              </li>
              <li class="footer__middle-list_item">
                <a href="" class="footer__middle-link">Contact</a>
              </li>
              <li class="footer__middle-list_item">
                <a href="" class="footer__middle-link">Jobs</a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="footer__middle-item">
          <h6 class="footer__middle-title">Get in Touch</h6>
          <p class="footer__middle-text">
            Feel free to get in touch with us vai email
          </p>
          <a class="footer__middle-email" href="mailto:info.webovio@gmail.com">
            info.webovio@gmail.com
          </a>
          <nav class="footer__middle-social">
            <ul class="footer__middle-social_list">
              <li class="footer__middle-social_item">
                <a class="footer__middle-social_link" href="#" style="background-image: url(images/icons/facebook.svg);"></a>
              </li>
              <li class="footer__middle-social_item">
                <a class="footer__middle-social_link" href="#" style="background-image: url(images/icons/inst.svg);"></a>
              </li>
              <li class="footer__middle-social_item">
                <a class="footer__middle-social_link" href="#" style="background-image: url(images/icons/twitter.svg);"></a>
              </li>
              <li class="footer__middle-social_item">
                <a class="footer__middle-social_link" href="#" style="background-image: url(images/icons/youtube.svg);"></a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="footer__bottom">
        <a class="logo" href="index.html">
          <img class="logo__img" src="../../images/logo.png" alt="">
        </a>
        <p class="footer__bottom-text">© 2020@webovio. All Rights Reserved.</p>
      </div>
    </div>
  </div>
</footer>