<section class="strategy">
  <div class="container">
    <div class="strategy__inner">
      <div class="strategy__border">
        <div class="strategy__info">
          <p class="strategy__title-top">What we do for you</p>
          <h3 class="strategy__title">
            Strategy. Design Content. Technology Development
          </h3>
          <p class="strategy__subtitle">
            There’s no secret sauce, no wizard behind the curtain. What makes
            Aerolab tick is an interdisciplinary team with a framework that
            fosters candid collaboration.
          </p>
          <a class="strategy__link" href="index.html">
            <div class="strategy__link-box">
              <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="6" height="12">
                  <path
                    fill="#D4D6D4"
                    d="M5.781 6.531a.752.752 0 000-1.062l-3-3A.754.754 0 001.496 3v6a.754.754 0 001.285.531zm0 0"
                  />
                </svg>
              </span>
              More know About us
            </div>
          </a>
        </div>
        <div class="strategy__comment">
          <p class="strategy__comment-text">
            With More than 10 Years of Knowledge and Expertise we Design and
            Code Websites and Apps, We Build Brands and Help Them Succeed
          </p>
          <div class="strategy__comment-info">
            <img src="images/avatar/1.jpg" alt="" />
            <div class="strategy__comment-box">
              <h4 class="strategy__comment-title">Genevieve Rodriquez</h4>
              <p class="strategy__comment-about">Founder & CEO, Webovio</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
