<section class="way">
  <div class="promo">
    <div class="promo__inner">
      <h2 class="promo__title">
        Let’s make something amazing together.
      </h2>
      <a class="way__link" href="index.html">
        <div class="way__link-box">
          <span>
            <svg xmlns="http://www.w3.org/2000/svg" width="6" height="12">
              <path
                fill="#D4D6D4"
                d="M5.781 6.531a.752.752 0 000-1.062l-3-3A.754.754 0 001.496 3v6a.754.754 0 001.285.531zm0 0"
              />
            </svg>
          </span>
          Read More
        </div>
      </a>
    </div>
  </div>
  <div class="container">
    <div class="way__inner">
      <h2 class="way__title">
        Deation & Evaluation - Best Way to Kick off Your Product Idea
      </h2>
      <div class="way__items">
        <div class="way__item">
          <div class="way__item-info">
            <h4 class="way__item-title">Product Design Sprint</h4>
            <p class="way__item-text">
              A five-day workshop that will help you answer crucial business
              questions
            </p>
          </div>
          <a class="way__link" href="index.html">
            <div class="way__link-box">
              <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="6" height="12">
                  <path
                    fill="#D4D6D4"
                    d="M5.781 6.531a.752.752 0 000-1.062l-3-3A.754.754 0 001.496 3v6a.754.754 0 001.285.531zm0 0"
                  />
                </svg>
              </span>
              Read More
            </div>
          </a>
        </div>
        <div class="way__item">
          <div class="way__item-info">
            <h4 class="way__item-title">Scoping Session</h4>
            <p class="way__item-text">
              A workshop aimed at shaping your business idea, answering
              questions regarding project planning
            </p>
          </div>
          <a class="way__link" href="index.html">
            <div class="way__link-box">
              <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="6" height="12">
                  <path
                    fill="#D4D6D4"
                    d="M5.781 6.531a.752.752 0 000-1.062l-3-3A.754.754 0 001.496 3v6a.754.754 0 001.285.531zm0 0"
                  />
                </svg>
              </span>
              Read More
            </div>
          </a>
        </div>
        <div class="way__item">
          <div class="way__item-info">
            <h4 class="way__item-title">UX Review</h4>
            <p class="way__item-text">
              An evaluation which will help you radically improve your product.
            </p>
          </div>
          <a class="way__link" href="index.html">
            <div class="way__link-box">
              <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="6" height="12">
                  <path
                    fill="#D4D6D4"
                    d="M5.781 6.531a.752.752 0 000-1.062l-3-3A.754.754 0 001.496 3v6a.754.754 0 001.285.531zm0 0"
                  />
                </svg>
              </span>
              Read More
            </div>
          </a>
        </div>
        <div class="way__item">
          <div class="way__item-info">
            <h4 class="way__item-title">Code Review</h4>
            <p class="way__item-text">
              Do you know what one of the key secrets of success is what makes
              people successful in business
            </p>
          </div>
          <a class="way__link" href="index.html">
            <div class="way__link-box">
              <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="6" height="12">
                  <path
                    fill="#D4D6D4"
                    d="M5.781 6.531a.752.752 0 000-1.062l-3-3A.754.754 0 001.496 3v6a.754.754 0 001.285.531zm0 0"
                  />
                </svg>
              </span>
              Read More
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
