<section class="work">
  <!-- <div class="container"> -->
  <div class="work__inner">
    <div class="work__items">
      <div class="work__item left">
        <div class="work__img" style="background-image: url(images/work/11.jpg)" data-aos="fade-right" data-aos-duration="1500" data-aos-easing="ease-in-sine">
          <div class="work__comment" data-aos="fade-right" data-aos-duration="2000" data-aos-easing="ease-in-sine">
            <p class="work__comment-text">
              “In my history of working with trade show vendors, I can honestly say that there is not one company that I've ever worked with that has better service than Exhibit Systems.”
            </p>
            <div class="work__comment-box">
              <img src="../../../images/avatar/2.jpg" alt="">
              <div class="work__comment-info">
                <h4 class="work__comment-title">Angel Armstrong</h4>
                <p class="work__comment-sub">Founder & CEO, Google</p>
              </div>
            </div>
          </div>
          <!-- <img src="images/work/11.jpg" alt="" /> -->
        </div>
        <div class="work__info">
          <h3 class="work__title">The wall new Balenciaga.com</h3>
          <p class="work__text">
            This article is floated online with an aim to help you find the best
            dvd printing solution.
          </p>
          <p class="work__text">
            Dvd printing is an important feature used by large and small DVD production houses to print information on DVDs.
          </p>
          <a class="work__link" href="index.html">
            <div class="work__link-box">
              <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="6" height="12">
                  <path
                    fill="#D4D6D4"
                    d="M5.781 6.531a.752.752 0 000-1.062l-3-3A.754.754 0 001.496 3v6a.754.754 0 001.285.531zm0 0"
                  />
                </svg>
              </span>
              See Case Study
            </div>
          </a>
        </div>
      </div>
      <div class="work__item right" data-aos="fade-left" data-aos-duration="1500" data-aos-easing="ease-in-sine">
        <div class="work__img" style="background-image: url(images/work/22.jpg)">
          <div class="work__comment" data-aos="fade-left" data-aos-duration="2000" data-aos-easing="ease-in-sine">
            <p class="work__comment-text">
              “I know they are going to be honest with me. I am not going to get a subpar product; I know it is going to be good. That is the number one advantage of working with Exhibit Systems.
            </p>
            <div class="work__comment-box">
              <img src="../../../images/avatar/3.jpg" alt="">
              <div class="work__comment-info">
                <h4 class="work__comment-title">Lina Hart</h4>
                <p class="work__comment-sub">Founder & CEO, Jico</p>
              </div>
            </div>
          </div>
          <!-- <img src="images/work/11.jpg" alt="" /> -->
        </div>
        <div class="work__info">
          <h3 class="work__title">
            Is this the future of 3D model?
          </h3>
          <p class="work__text">
            While it was just a TV show, that little speech at the beginning of the original Star Trek show really did do a good job of capturing our feelings about space.
          </p>
          <p class="work__text">
            It is those feelings that drive our love of astronomy and our desire to learn more and more about it. 
          </p>
          <a class="work__link" href="index.html">
            <div class="work__link-box">
              <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="6" height="12">
                  <path
                    fill="#D4D6D4"
                    d="M5.781 6.531a.752.752 0 000-1.062l-3-3A.754.754 0 001.496 3v6a.754.754 0 001.285.531zm0 0"
                  />
                </svg>
              </span>
              See Case Study
            </div>
          </a>
        </div>
      </div>
      <div class="work__item left" data-aos="fade-right" data-aos-duration="1500" data-aos-easing="ease-in-sine">
        <div class="work__img" style="background-image: url(images/work/33.jpg)">
          <div class="work__comment" data-aos="fade-right" data-aos-duration="2000" data-aos-easing="ease-in-sine">
            <p class="work__comment-text">
              “Exhibit Systems is not a provider. They are not a supplier. They are a partner with expertise in making trade shows effective.”
            </p>
            <div class="work__comment-box">
              <img src="../../../images/avatar/4.jpg" alt="">
              <div class="work__comment-info">
                <h4 class="work__comment-title">Eunice Oliver</h4>
                <p class="work__comment-sub">Founder & CEO, Zeem</p>
              </div>
            </div>
          </div>
          <!-- <img src="images/work/11.jpg" alt="" /> -->
        </div>
        <div class="work__info">
          <h3 class="work__title"> Is this the future of Online Booking</h3>
          <p class="work__text">
            While it was just a TV show, that little speech at the beginning of the original Star Trek show really did do a good job of capturing our feelings about space.
          </p>
          <p class="work__text">
            It is those feelings that drive our love of astronomy and our desire to learn more and more about it. 
          </p>
          <a class="work__link" href="index.html">
            <div class="work__link-box">
              <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="6" height="12">
                  <path
                    fill="#D4D6D4"
                    d="M5.781 6.531a.752.752 0 000-1.062l-3-3A.754.754 0 001.496 3v6a.754.754 0 001.285.531zm0 0"
                  />
                </svg>
              </span>
              See Case Study
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- </div> -->
</section>
